@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
   padding: 0;
   margin: 0; 
  
}
body{
    background-color: rgb(50, 179, 223);
}
header{
    position: relative;
    margin: 5px;
}
header img{
    float: left;
   
    
}
.moto{
   margin: 5px 5px;
    
}
.moto h4{
    margin-left: 15em;
}
nav{
    margin-top: 3em;
    width: 100%;
    overflow: auto;
    background-color: #555;
}
nav a{
    float: left;
    text-align: center;
    padding: 12px 13px;
    margin-bottom: 0px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 17px;
}

nav a:hover, .active{
    background-color: rgb(125, 213, 37);
}

.main{
    position: relative;
}

.main .gallery{
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    height: 500px;
    
  
}
.main .text{
    font-family: cursive;
    color: white;
    position: absolute;
    bottom: 10%;
    left: 40%;
    font-size: 20px;
    
}

.login{
    background-color: white;
    font-size: 30px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 40%;
    border-style:none;
    width: 300px;
    border-radius: 20px;
    text-align: center;
    
}

.login input{
    height: 30px;
    border-radius: 5px;
}
.login .loginBtn{
    height: 30px;
    width: 100px;
    margin: 15px;
    background-color: rgb(36, 79, 75);
    color: white;
    
}
.container{
    max-width: 1170px;
    margin: auto;
    ;
}
.row{
    display: flex;
    flex-wrap:wrap;
}
ul {
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
    
}
.footer-col{
    width:25%;
    padding:0 3px;
}
.footer-col h4{
    font-size: 18px;
    color:#ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position:relative;
}
.footer-col h4::before{
    content:'';
    position:absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height:2px;
    box-sizing:border-box;
    width:50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display:block;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;

}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}


.footer-touch{
    width:25%;
    padding:0 15px;
}
.footer-touch h4{
    font-size: 18px;
    color:#ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position:relative;
}

.footer-touch h4::before{
    content:'';
    position:absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height:2px;
    box-sizing:border-box;
    width:50px;
}
.footer-touch ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-touch ul li {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display:block;
}
.footer-copy a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    display:block;
    text-align: center;
    padding-top: 20px;
}

/* css code for About Us page*/
.content-selection{
width: 80%;
padding-left: 10%;

}
.content h1{
margin-top: 20px;
color:#24262b;
}

.about-content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size:17px;
    line-height: 1.5;
}
.about-content .button{
    width:13%;
    background-color: #3d3d3d;
    padding:12px 12px;
    margin:12px;
    text-decoration:none;
    color: #fff;
    font-size:25px;
    letter-spacing: 1.5px;
}
.button a{
    color:white;
    text-decoration: none;
}

.about-content .button a:hover{
    background-color: teal;
    color:white;
}